@import url('https://fonts.googleapis.com/css?family=Iceland:700|Iceland:400');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html {
        font-family: "Iceland", "sans-serif";
    }
    body {
        background-color: #eef2ff;
        overflow-x: hidden;
    }
}

@layer components {
    .input-box {
        @apply w-full text-sm bg-transparent border-[1.5px] px-5 py-3 rounded mb-4 outline-none;
    }

    .btn-primary {
        @apply w-full text-sm bg-primary text-white p-2 rounded my-1 hover:bg-blue-600;
    }

    .icon-btn {
        @apply text-xl text-slate-300 cursor-pointer hover:text-primary;
    }

    .input-label {
        @apply text-lg text-black;
    }

    .whole-page {
        @apply flex justify-between flex-col min-h-dvh;
    }

    .card-size {
        width: 549px;
        height: 347px;
    }

    .card-size-mobile {
        width: 274px;
        height: 174px;
    } 
}

